<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__column">
      <h5 class="column-title">Contact</h5>
      <div class="column__info"></div>
    </div>
    <div class="footer__column">
      <h5 class="column-title">Main Menu</h5>
      <div class="column__info">
        <a href="" class="column-link">About</a>
        <a href="" class="column-link">Special Offers</a>
        <a href="" class="column-link">News</a>
        <a href="" class="column-link">Contact Us</a>
      </div>
    </div>
    <div class="footer__column">
      <h5 class="column-title">Things to do</h5>
      <div class="column__info">
        <a href="" class="column-link">Tennis Club</a>
        <a href="" class="column-link">Kavalier Beach Club</a>
        <a href="" class="column-link">Restaurant and Vinarium</a>
        <a href="" class="column-link">Excursions</a>
        <a href="" class="column-link">Events</a>
      </div>
    </div>
    <div class="footer__column">
      <h5 class="column-title">Rooms & Suits</h5>
      <div class="column__info">
        <a href="" class="column-link">Classic</a>
        <a href="" class="column-link">Superior</a>
        <a href="" class="column-link">Family Superior</a>
        <a href="" class="column-link">Semi-Suit</a>
        <a href="" class="column-link">Suit</a>
      </div>
    </div>
  </div>
</footer>