
@import "./styles/main";

.container__subtitle,
.container__title {
  font-family: $base-font-family;
  text-align: center;
  display: flex;
  align-items: center;
}

.container__subtitle {
  margin-top: 34px;
  height: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: $primary;
}

.container__title {
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.25px;
  color: #000000;
}

@media (max-width: 1440px) {
  .container__subtitle {
    font-size: 14px;
  }

  .container__title {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  .container__subtitle {
    margin-top: 16px;
    font-size: 12px;
  }

  .container__title {
    font-size: 24px;
  }
}