<div class="timetable-block">
  <div class="date-block arrive-block">
    <h6 class="timetable-title">Arrival date</h6>
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="date-block departure-block">
    <h6 class="timetable-title">Departure date</h6>
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>  </div>
  <div class="guest-block adult-guest">
    <h6 class="timetable-title">Adults</h6>
    <span class="number"></span>
  </div>
  <div class="guest-block children-guest">
    <h6 class="timetable-title">Children</h6>
    <span class="number"></span>
  </div>
  <div class="check-block">
    <button class="check-btn"
    (click)="checkFunction()">Check Availability</button>
  </div>
</div>